*{
    margin: 0;
    padding: 0;
}
/*botones*/
.botones{
    font-family: "Comic Sans MS";
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.live{
    background-color: #736AB5;
    color:white;
    border: solid 1px black;
    margin: auto;
    margin-top: 30px;
}
.live:hover{
    color: #736AB5;
    background-color: white;
    transition: width 200ms ease-in;
}
.theories{
    background-color: #736AB5;
    color: white;
    border: solid 1px black;
    margin: auto;
    margin-top: 30px;
}
.theories:hover{
    color: #736AB5;
    background-color: white;
    transition: width 200ms ease-in;
}
.albums{
    background-color: #736AB5;
    color: white;
    border: solid 1px black;
    margin: auto;
    margin-top: 30px;
}
.albums:hover{
    color: #736AB5;
    background-color: white;
    transition: width 200ms ease-in;
}
.contact{
    background-color: #736AB5;
    color: white;
    border: solid 1px black;
    margin: auto;
    margin-top: 30px;
    }
.contact:hover{
    color: #736AB5;
    background-color: white;
    transition: width 200ms ease-in;
}
.index{
    background-color: #736AB5;
    color: white;
    border: solid 1px black;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
}
.index:hover{
    color: #736AB5;
    background-color: white;
    transition: width 200ms ease-in;
}
/*index*/
.container1{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1.5fr 1.2fr 0.7fr;
    grid-template-areas: 
    "header"
    "section1"
    "back"
    "footer";
}
.header{
    background-image: url(../img/menu1.jpg);
    background-size: cover;
    background-position: center center;
    grid-area: header;
    width: 100%;
}
.imagen1{
    grid-area: section1;
    width: 100%;
}
.back{
    background-image: url(../img/fondopresentación.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas:
    ". . ."
    ". carrousel ."
    ". . .";
}
.carousel-inner, .carousel{
    grid-area: carrousel;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.carousel-item, .active{
    width: 100%;
    background-size: cover;
    background-size: center center;
}
.footer{
    grid-area: footer;
    width: 100%;
    background-color:rgb(121, 109, 109);
}
/*live*/
.container2{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 800px auto;
    grid-template-areas: 
    "header"
    "background"
    "footer";
}
.livebackground{
    grid-area: background;
    background-image: url(../img/Taylor\ live.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas:
    ". . ."
    ". iframe ."
    ". . .";
}
.iframe{
    grid-area: iframe;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
/*theories*/
.container3{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 800px auto;
    grid-template-areas: 
    "header"
    "theoriesbackground"
    "footer";
}
.theoriesbackground{
    grid-area: theoriesbackground;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
.h1{
    font-style: italic;
    background-color:antiquewhite;
}
.p1{
    background-color: antiquewhite;
}
.p2{
    background-color:antiquewhite;
}
.h2{
    font-style: italic;
    background-color:antiquewhite;
}
.p3{
    background-color:antiquewhite;
}
.row{
    margin-right: 0;
}

/*albums*/
.gridalb{                                                                                                   
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 800px auto;
    grid-template-areas: 
    "header"
    "section"
    "footer";
}
.backalbums{
    background-color: rgb(180, 123, 180);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    grid-area: section; 
}
.row1{
    margin-top: 25px;
}
.row2{
    margin-top: 170px;
}
.TS{
    height: 200px;
    width: 200px;
    margin-left: 115px;
}
.a1{
    position: absolute;
    left: 185px;
    top: 350px;
    text-align: center;
}
.fearless{
    height: 200px;
    width: 200px;
}
.a2{
    position: absolute;
    left: 400px;
    top: 350px;
    text-align: center;
}
.speaknow{
    height: 200px;
    width: 200px;
}
.a3{
    position: absolute;
    left: 650px;
    top: 350px;
    text-align: center;
}
.red{
    height: 200px;
    width: 200px;
}
.a4{
    position: absolute;
    left: 890px;
    top: 350px;
}
.a1989{
    height: 200px;
    width: 200px;
}
.a5{
    position: absolute;
    left: 1120px;
    top: 350px;
}
.reputation{
    height: 200px;
    width: 200px;
    margin-left: 115px;
}
.a6{
    position: absolute;
    left: 170px;
    top: 720px;
}
.lover{
    height: 200px;
    width: 200px;
}
.a7{
    position: absolute;
    left: 420px;
    top: 720px;
}
.evermore{
    height: 200px;
    width: 200px; 
}
.a8{
    position: absolute;
    left: 630px;
    top: 720px;
}
.fearlessTV{
    height: 200px;
    width: 200px;
}
.a9{
    position: absolute;
    left: 820px;
    top: 720px;
    text-align: center;
}
.redTV{
    height: 200px;
    width: 200px;

}
.a10{
    position: absolute;
    left: 1050px;
    top: 720px;
    text-align: center;
}

/*Contact*/
.containercon{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 800px auto;
    grid-template-areas: 
    "header"
    "backgrounds"
    "footer";
}
.background{
    background-image: url(../img/contact.jpg);
    width: 100%;
    background-position: center center;
    background-size: cover;
}
.containerform{
    grid-area: backgrounds;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
    ". ch ."
    ". . ."
    ".form ."
    ". . .";
}
.form{
    grid-area: form;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
}
.ch1{
    font-family: Arial;
    grid-area: ch;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.referencia{
    text-decoration: none;
    color: black;
   font-family: serif;
}

/* Media Queries */

@media screen and (max-width: 480px) {
    .live, .theories, .albums, .contact, .index{
        background-color: blueviolet;
    }
    .header{
        background-position: center center;
    }
    .livebackground{
        background-position: center center;
    }
    .iframe{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 155%;
    }
    .backalbums{
        background-repeat: repeat;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .TS, .a1, .fearless, .a2, .speaknow, .a3, .red, .a4, .a1989, .a5, .reputation, .a6, .lover, .a7, .evermore, .a8, .fearlessTV, .a9, .redTV, .a10{
        flex-basis: 100%;
    }
    }

