/*albums*/
.gridalb{                                                                                                   
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 800px auto;
    grid-template-areas: 
    "header"
    "albums"
    "footer";
}
.albumcarousel{
        background-color: violet;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 800px;
        grid-area: albums;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas:
        ". . ."
        ". carrousel2 ."
        ". . .";
    }
.carousel-inner, .carousel{
        grid-area: carrousel2;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        }
.carousel-control-next-icon, .carousel-control-prev-icon{
    margin-top: 300px;
}





