/*botones*/
.botones{
    font-family: "Comic Sans MS";
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    box-shadow: 2px 3px 10px #000;
    box-sizing: border-box;
    &:hover{
        box-shadow: 3px 4px 30px #000;
        text-shadow: 0 0 0 ;
    }
    &:active{
        box-shadow: 0 0 0;
    }
    }
    .live{
        background-color: #736AB5;
        color:white;
        border: solid 1px black;
        margin: auto;
        margin-top: 30px;
    &:hover{
        color: #736AB5;
        background-color: white;
        transition: width 200ms ease-in;
    }
    }
    .theories{
        @extend.live;
    &:hover{
        color: #736AB5;
        background-color: white;
        transition: width 200ms ease-in;
    }
    }
    .albums{
        @extend.live;
    &:hover{
        color: #736AB5;
        background-color: white;
        transition: width 200ms ease-in;
    }
    }
    .contact{
        @extend.live;
    &:hover{
        color: #736AB5;
    background-color: white;
    transition: width 200ms ease-in;
    }
    }
    .index{
        @extend.live;
    &:hover{
        color: #736AB5;
        background-color: white;
        transition: width 200ms ease-in;
    }
    }