/*Contact*/
.containercon{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 800px auto;
    grid-template-areas: 
    "header"
    "backgrounds"
    "footer";
}
.bodycont{
    background: linear-gradient(132deg, #641d80, #c04fc4);
    background-size: 400% 400%;
    animation: BackgroundGradient 10s ease infinite;
  }

  @keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
.containerform{
    grid-area: backgrounds;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
    ". ch ."
    ". . ."
    ". form ."
    ". . .";
}
.form{
    grid-area: form;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
}
.email{
    margin-left: 5px;
}
.title{
    margin-right: 50px;
}
.ch1{
    font-family: Arial;
    grid-area: ch;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: black;
}
.referencia{
 color: black;
 :hover{
	 color: rgb(180, 17, 17);
 }
}
.send{
    background-color: rgb(158, 70, 158);
    border-radius: 5px;
    &:hover{
    background-color: rgb(158, 70, 158);
    border-radius: 5px;
    box-shadow: 3px 4px 20px #000;
    text-shadow: 0 0 0;
    }
}
@media screen and (max-width: 480px){
	.ch1{
		grid-column-start: 1;
    	grid-column-end: 4;
		font-size: 40px;
		margin-top: 50px;
	}
}